.gallery-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.5rem;
  margin: -2rem 0 4rem 0;
}

@media (--s) {
  .gallery-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0 0 4rem 0;
  }
  .grid-item-4x4 {
    grid-row: span 5 !important;
    grid-column: span 5 !important;
  }
  .grid-item-1x1 {
    display: none;
  }
  .speak-pro {
    grid-row: span 1 !important;
    grid-column: span 3 !important;
  }
}

.about-child {
  border-radius: 10px;
  overflow: hidden;
  filter: saturate(0);
  transition: filter 0.5s ease-in-out;
}

.about-child:hover {
  filter: saturate(1);
}

.grid-item-4x4 {
  grid-row: span 4;
  grid-column: span 4;
}

.grid-item-3x2 {
  grid-row: span 2;
  grid-column: span 3;
}

.grid-item-2x1 {
  grid-row: span 1;
  grid-column: span 2;
}

.grid-item-2x2 {
  grid-row: span 2;
  grid-column: span 2;
}

.grid-item-1x2 {
  grid-row: span 2;
  grid-column: span 1;
}

.grid-item-1x1 {
  grid-row: span 1;
  grid-column: span 1;
}

.grid-item-3x2 {
  grid-row: span 2;
  grid-column: span 3;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-image-fill {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
